<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Animated DOM</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- <script type='application/javascript' src='../vendor/fastclick.js'></script> -->
    <link rel="stylesheet" href="../vendor/normalize.css" />
    <script type="text/javascript" src="../vendor/modernizr-custom.js"></script>
    <script type="text/javascript" src="../vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- <script type="text/javascript" src="../vendor/anime/anime.min.js"></script> -->
    <script type="text/javascript" src="../libs/iquiz/js/iquiz.js"></script>

    <!-- <link rel="stylesheet" href="../vendor/mdl/material.min.css">
    <script src="../vendor/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->

    <!-- Quiz styles -->
    <link rel="stylesheet" href="../libs/iquiz/css/iquiz.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <script src="../js/bundle.js"></script>

    <nav class="l-nav-bar">
        <!-- PROGRESS BAR -->
        <div class="nav-bar__progress">
            <div class='nav-bar__progress-bg'>
                <div class='nav-bar__progress-bar'></div>
            </div>
            <div class="nav-bar__progress-txt"></div>
        </div>

        <div class="nav-bar__container">

            <div class="stv-radio-buttons-wrapper">
                <div>
                    <input type="radio" name="displayMode" value="slides" id="slidesRadio" checked>
                    <span class="rSpan r1"><label for="slidesRadio"><img src="../images/_nav/icons/icon_docs.svg"><span
                                class="button-text">SLIDES</span></label></span>
                </div>
                <div>
                    <input type="radio" name="displayMode" value="quiz" id="quizRadio">
                    <span class="rSpan r2"><label for="quizRadio"><img src="../images/_nav/icons/icon_quiz.svg"><span
                                class="button-text">QUIZ</span></label></span>
                </div>
            </div>

            <div class="nav--toggle">
                <div>
                    <label class="switch js-animation">
                        <input type="checkbox" checked>
                        <span class="kSlider">
                            <span class="kSliderC">&nbsp;</span>
                        </span>
                    </label>
                </div>
                <div class="title">
                    ANIMATION
                </div>
            </div>

            <div class="nav-bar_leftRight_wrapper">
                <button class="nav-bar__button js-back touchevents">
                    <span class="nav-bar__button-circle--left">
                        <img src="../images/_nav/icons/arrow-left-solid.svg" />
                    </span>
                    <span class="nav-bar__button-text--right">PREVIOUS</span>
                </button>

                <button class="nav-bar__button js-next touchevents">
                    <span class="nav-bar__button-text--left">NEXT</span>
                    <span class="nav-bar__button-circle--right">
                        <img src="../images/_nav/icons/arrow-right-solid.svg" />
                    </span>
                </button>
            </div>

            <div class="nav-bar__controls hidden">
                <button class="button__control js-replay">Replay</button>
            </div>
        </div>
    </nav>

    <div class="l-wrapper js-wrapper hidden">

        @@include('./combined.html')
        <!--<partial src="combined.html" title="Some title"></partial>-->

    </div>
</body>

</html>