%simple-button {
  position: relative;
  color: white;
  text-align: center;
  background: #ffa300;
  border-radius: 50px;
  height: 30px;
  width: auto;
  border-color: #ffa300;
  cursor: pointer;
  transition: 0.2s;
  border-style: none;
}
