//-------------//
///// SHAPES ////
//-------------//
figure.square-green {
  position: absolute;
  top: 20%;
  right: 12%;
  padding: 0;
  margin: 0;
  width: 20%;
  svg {
    width: 100%;
    height: 100%;
  }
}

figure {
  //border: #0000fe solid 1px;
  margin: 0;
}
figure.no-padding-tlr {
  position: relative;
  margin: -1em -1em 1em -1em;
}

figure.shape-5 {
  position: absolute;
  //margin-left: -10%;
  width: 5%;
  img {
    width: 100%;
  }
}

figure.shape-10 {
  position: absolute;
  //margin-left: -10%;
  width: 10%;
  img {
    width: 100%;
  }
}

figure.shape-15 {
  position: absolute;
  width: 15%;
  img {
    width: 100%;
  }
}

figure.shape-20 {
  position: absolute;
  //margin-left: -10%;
  width: 20%;
  img {
    width: 100%;
  }
}

figure.shape-25 {
  position: absolute;
  width: 25%;
  img {
    width: 100%;
  }
}

figure.shape-30 {
  position: absolute;
  width: 30%;
  img {
    width: 100%;
  }
}

figure.shape-40 {
  position: absolute;
  width: 40%;
  img {
    width: 100%;
  }
}

figure.shape-50 {
  position: absolute;
  width: 50%;
  img {
    width: 100%;
  }
}

figure.shape-60 {
  position: absolute;
  width: 60%;
  img {
    width: 100%;
  }
}

figure.shape-70 {
  position: absolute;
  width: 70%;
  img {
    width: 100%;
  }
}

figure.shape-80 {
  position: absolute;
  width: 80%;
  img {
    width: 100%;
  }
}

figure.shape-90 {
  position: absolute;
  width: 90%;
  img {
    width: 100%;
  }
}

figure.shape-100 {
  position: absolute;
  width: 100%;
  img {
    width: 100%;
  }
}

figure.shape-105 {
  position: absolute;
  width: 105%;
  img {
    width: 100%;
  }
}

figure.shape-110 {
  position: absolute;
  width: 110%;
  img {
    width: 100%;
  }
}

figure.shape-115 {
  position: absolute;
  width: 115%;
  img {
    width: 100%;
  }
}

figure.shape-120 {
  position: absolute;
  width: 120%;
  img {
    width: 100%;
  }
}

figure.shape-125 {
  position: absolute;
  width: 125%;
  img {
    width: 100%;
  }
}

figure.shape-130 {
  position: absolute;
  width: 130%;
  img {
    width: 100%;
  }
}

figure.square-green-large {
  position: absolute;
  top: -19em;
  right: -8%;
  padding: 0;
  margin: 0;
  width: 20em;
  z-index: -1;
  svg {
    width: 100%;
    height: 100%;
  }
}

figure.square-green {
  position: absolute;
  top: 20%;
  right: 12%;
  padding: 0;
  margin: 0;
  width: 20%;
  svg {
    width: 100%;
    height: 100%;
  }
}

figure.aqua-octagon {
  position: relative;
  left: 10%;
  padding: 0;
  margin: 0;
  width: 15%;
}
figure.pentagon {
  position: absolute;
  bottom: 0;
  right: 0;
}
