.nav-bar__container {
  display: flex;
  align-items: center;
  //height: 100%;
  padding: 0 0.5rem;
  width: 100%;
  justify-content: space-between;

  //height: 50px;
  //line-height: 50px;
}



.nav-bar_leftRight_wrapper{
  //border: 1px solid red;
  padding-right: 1.5em;
}
.nav-bar_leftRight_wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.nav-bar__button:focus {
  outline: none;
}
.nav-bar__button {
  position: relative;
  color: white;
  background: #ffa300;
  border-radius: 50px;
  height: 30px;
  width: 28px;
  border-color: #ffa300;
  cursor: pointer;
  transition: 0.2s;
  //margin-right: 8px;
  border-style: none;
  @include for-size(tablet-portrait-up) {
    width: 110px;
    //margin-right: 0;
  }
}

.nav-bar__button.gen {
   width:auto;
  text-align: center;
  padding: 0 40px 0 40px;
}

.nav-bar__button:last-child {
  margin-left: 3px;
}

.nav-bar__button:active,
.nav-bar__button:focus,
.nav-bar__button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-style: none;
}

.no-touchevents .nav-bar__button:not(:disabled):hover {
  background: #fe5000;
  border-color: #fe5000;
}
.nav-bar__button:disabled {
  background: lightgray;
  border-color: lightgray;
  cursor: default;
}

%nav-bar__button-text {
   color: white;
   font-size: 12px;
   //font-family: Helvetica Neue;
   font-weight: 900;
   font-style: normal;
   visibility: hidden;
   border-style: none;
   @include for-size(tablet-portrait-up) {
     visibility: visible;
   }
 }
.nav-bar__button-text--left {
  @extend %nav-bar__button-text;
  margin: 0px 50px 0px 0px;
}
.nav-bar__button-text--right {
  @extend %nav-bar__button-text;
  margin: 0px 0px 0px 30px;
}

%nav-bar__button-circle {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: inherit;
  position: absolute;
  top: -4px;
  text-align: center;

  img {
    height: 14px;
    margin: 9px 0 0 0;
    opacity: 0.65;
  }
}

.nav-bar__button-circle--left {
  @extend %nav-bar__button-circle;
  left: -10px;
}
.nav-bar__button-circle--right {
  @extend %nav-bar__button-circle;
  right: -10px;
}


/*Radio Buttons NAV */

.stv-radio-buttons-wrapper{
  //border: 1px solid red;
  width:30%;
  max-width: 250px;
  //height: 200px;
  min-width: 120px;

}

.stv-radio-buttons-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.stv-radio-buttons-wrapper input[type="radio"] {
  //display: none;
  opacity: 0;
  position: absolute;
}

.stv-radio-buttons-wrapper div{
  /*border: 10px solid green;*/
  width: calc(50% - 1px);
  float: left;
  margin-right: 1px;
}

.stv-radio-buttons-wrapper .rSpan{
  display: inline-block;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #ffa300;
  user-select: none;
  cursor: pointer;
  @include for-size(tablet-portrait-up) {
    height: 30px;
    line-height: 30px;
  }
}

.stv-radio-buttons-wrapper .rSpan img{
  height: 22px;
  vertical-align: middle;
}


.stv-radio-buttons-wrapper .r1{
  border-radius: 20px 0 0 20px;
}

.stv-radio-buttons-wrapper .r2{
  border-radius: 0 20px 20px 0;
}

.stv-radio-buttons-wrapper label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.stv-radio-buttons-wrapper .rSpan .button-text{
  color: white;
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  /*vertical-align: middle;*/
  padding-left: 5px;
  display: none;
  @include for-size(tablet-portrait-up) {
    display: inline-block;
  }
}

//@media only screen and (min-width: 700px) {
//  .stv-radio-buttons-wrapper .rSpan .button-text{
//    display: inline-block;
//  }
//}

.stv-radio-buttons-wrapper input[type="radio"]:checked + span {
  background-color: #fe5000;
  transition: .0s;
}

.stv-radio-buttons-wrapper input[type="radio"]:not(:checked):hover + span {
  background-color: #fe5000;
  transition: .3s;
}








/* TOGGLE switch - the box around the slider */

.nav--toggle {
  display: inline-block;
  //border: 1px solid red;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  //font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  .title {
    //border: 1px solid blue;
    font-size: 10px;
    text-align: center;
    color: rgba(0,0,0,.7);
    //position: relative;
    top: -12px;
    height: 10px;
    //padding-right: 2px;
    //margin-top: -15px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  //border: 1px solid blue;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.kSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  .kSlidertext {
    position: absolute;
    color: white;
    font-size: 12px;
    //font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    //margin: 10px 0px 0px 10px
    top: 9px;
  }
  .kSlidertext.On {
    left: 8px;
    top: 10px;
  }
  .kSlidertext.Off {
    left: 33px;
    top: 10px;
  }
}

.kSliderC {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .kSlider {
  background-color: #00b5e2;
  .kSliderC {
    transform: translateX(19px);
  }
}


.nav-bar__progress{
  background-color: #b8b8b8;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.2em;
  font-size: 8px;
}

.nav-bar__progress_bgBar {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  visibility: visible;
  margin-right: 10px;
  margin-left: 40px;
}

.nav-bar__progress_barMarker {
  width: 50%;
  height: 6px;
  background-color: white;
  text-align: right;
  border-radius: 6px;
  position: relative;
  transition: 0.5s;
}
