//------------------------//
///////// TEXT WIDTHS //////
//------------------------//
.p-60 {
  @include for-size(tablet-landscape-up) {
    width: 60%;
  }
}
.p-80 {
  @include for-size(tablet-landscape-up) {
    width: 80%;
  }
}

//------------------------//
///////// HEADINGS /////////
//------------------------//
h2 {
  margin-top: 0.8rem;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
h4 {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 1.1em;
  font-weight: 600;
}
h5 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 0.1em;
}

h2.sub-heading {
  grid-area: g;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3em 0;
  font-weight: 500;
  @include for-size(phone-only) {
    margin: 0.2em 0;
  }
}
h2.sub-heading--right {
  @extend h2.sub-heading;
  justify-content: flex-end;
  margin: 0.3em 0;
  @include for-size(phone-only) {
    margin: 0.2em 0;
  }
}

.text-underline {
  text-decoration: underline;
}

//-------------//
//// HEADER /////
//-------------//

.headerIntro {
  text-align: right;
  padding: 10px 15px 0 0;
  z-index: 1;
}

.main-heading {
  grid-area: h;
  display: flex;
  align-items: center;
  @include for-size(phone-only) {
    margin: 0.2em 0;
  }
}

//--------------------------//
////// ARTICLE or Slide //////
//// One or more section  ////
//--------------------------//
.article {
  position: relative;
  display: block;
  
  @include for-size(tablet-landscape-up) {
    display: flex;
    flex-direction: row;
    //flex-direction: column;
  }
}
.page-number {
  position: absolute;
  left: 3px;
  top: 23px;
  font-size: 13px;
  color: red;
  background-color: #fff;
}

.article--50-50 {
  @extend .article;
  @include for-size(tablet-landscape-up) {
    line-height: 1.3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
//--------------------------//
////////// SECTION ///////////
///// A single section  //////
//--------------------------//
section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1em 1em 0 1em;
  overflow: visible;
  //border: yellow solid 1px;
}
section.mobileHelper--1 {
  @media (max-width: 900px) {
    padding-left: 60%;
    margin-top: -10%;
  }
}
section.mobileHelper--2 {
  @media (max-width: 900px) {
    padding-right: 50%;
  }
}

//------------------------//
/////// IMAGE WIDTHS ///////
//------------------------//
figure.img-70 {
  position: absolute;
  @include for-size(tablet-landscape-up) {
    width: 70%;
    img {
      width: 100%;
    }
  }
}

.page-number {
  visibility: hidden;
}

.showOverFlow {
  overflow: visible;
}
.showOverFlowY {
  overflow-y: visible;
}
.showOverFlowX {
  overflow-x: visible;
}
