.l-header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 1rem;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f1f1f1;
  z-index: 1;
}

.l-nav-bar {
  position: fixed;
  background-color: #f1f1f1;
  //width: calc(100% - 2rem);
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 54px;
  //padding: 0 .5rem;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
}
.l-wrapper {
  display: flex;
  justify-content: normal;
  margin: 36px auto 50px auto;
  max-width: 1800px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  //padding-left: 1em;
  //padding-right: 1em;
}

%container {
  //padding: 1rem;
  //max-width: 1024px;
  //overflow: hidden;
  position: relative;
  //margin-top: 4rem;
  //margin-bottom: 3rem;
  height: 100%;
}
.container--layout-1 {
  @extend %container;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  //overflow: visible;
  /*border: red solid 1px;*/
}
.container--layout-2 {
  @extend %container;

  display: grid;
  grid-gap: 0.5em;

  @include for-size(tablet-landscape-up) {
    line-height: 1.3;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "h h h h h g g g g g g g" "m m m m m t t t t t t t";
  }
}
.container--layout-2 {
  @extend %container;

  display: grid;
  grid-gap: 0.5em;

  @include for-size(tablet-landscape-up) {
    line-height: 1.3;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "h h h h h g g g g g g g"
      "m m m m m t t t t t t t";
  }
}
