@import "fonts";
@import "mixins";
@import "_base";
@import "_layout";
@import "_state";

@import "tables";
@import "tablesIE";
@import "nav";
@import "toggle";
@import "startscreen";

@import "module/header";
@import "module/pages";
@import "module/nav-bar";
@import "module/images";

/* button {
  background-color: white;
  border-radius: 2px;
  border: #646464 solid 1px;
  padding: .2em .6em;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
}
.button--navigation {
  @extend button;
  background-color: aquamarine;
  border-color: #028b50;
  color: #023c21;
  cursor: pointer;
}
.button--navigation:disabled {
  background-color: #4e9b7b;
  border-color: #028b50;
  color: #023c21;
}
.button--control {
  @extend button;
  background-color: coral;
  border-color: #9c3304;
  color: #451b04;
} */

.col-10 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 10%;
  }
}

.col-20 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 20%;
  }
}

.col-30 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 30%;
  }
}

.col-35 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 35%;
  }
}

.col-40 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 40%;
  }
}

.col-50 {
  @include for-size(tablet-landscape-up) {
    //width: 50%;
    flex: 0 0 50%;
    //background-color: yellow;
  }
}
.col-force-50 {
  @include for-size(tablet-landscape-up) {
    max-width: calc(50% - 4em);
  }
}

.col-60 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 60%;
  }
}

.col-70 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 70%;
  }
}

.col-80 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 80%;
  }
}

.col-90 {
  @include for-size(tablet-landscape-up) {
    flex: 0 0 90%;
  }
}

.col-100 {
  @include for-size(tablet-landscape-up) {
    //width: 50%;
    flex: 0 0 100%;
    //background-color: yellow;
  }
}

.grid-2col {
  @include for-size(tablet-landscape-up) {
    display: grid;
    grid-gap: 0.1em;
    grid-template-columns: repeat(2, 1fr);
  }
}
