div.table--t3-u2-29_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  td h3{
    font-weight: bold;
    font-size: 1.4em;
  }

  td:first-child, td:nth-child(3){
    background-color: $table-fill-col;
  }
}

div.table--t3-u3-6_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}


div.table--t4-u1-5a_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}

div.table--t4-u1-5b_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}


div.table--t4-u1-14_ie,
div.table--t10-u2-9_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}


div.table--t5-u1-25_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}




div.table--t8-u1-6_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}




div.table--t11-u1-11_ie, div.table--t12-u1-7_ie {
  table {
    width: 100%;
    font-size: $table-font-size;
    border-collapse: collapse;
  }

  table, td, th {
    border: $table-line;
  }

  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }

  th h3{
    font-weight: bold;
    font-size: 1.2em;
  }

  tr:first-child {
    background-color: $table-fill-col;
  }
}
